body {
	width: 250px;
}

h1 {
	color: white;
}


.top-btn {
	padding-top: 10px;
}

img {
	width: 40px;
	height: 40px;
	margin-bottom: 8px;
	padding-bottom: 5px;
}

#last-slider {
	float: none;
}


.slider {
	padding-left: 30px;
	position: relative;
}

h6 {
	position: absolute;
	left: 175px;
	bottom: 10px;
}