body {
	width: 250px;
}

h1 {
	color: white;
}

img {
	width: 40px;
	height: 40px;
	margin-bottom: 20px;

}

#last-slider {
	float: none;
}


.slider {
	padding-left:30px;
	position: relative;
}

h6 {
	position: absolute;
	left: 175px;
	bottom: 20px;
}

.top-btn {
	padding-top: 70px;
}