body {
	width: 510px;
}

h1 {
	color: white;
}

img {
	width: 40px;
	height: 40px;
	margin: 0 0 8px 15px;
	padding-bottom: 5px;

}

#last-slider {
	float: none;
}


.slider {
	padding: 10px 0 0 135px;
	position: relative;
}

h6 {
	position: absolute;
	left: 320px;
	bottom: 4px;
}

.top-btn {
	padding-top: 70px;
}